<!DOCTYPE html>
<html modo="claro">
<head lang="pt-pt">
    <meta charset="utf-8">
    <title>Lei dos gases</title>
    <link rel="stylesheet" type="text/css" href="/css/links1.css">
    <link rel="stylesheet" href="/css/link2.css">

    <script defer src="/js/script.js"></script>
</head>
<body>
    <header>
        <div id="menu">
            <h1 id="logo" class="Amarelo">E.Andrade</h1>
            <a class="nav-link" href="/">Home</a>
        </div>
        <button id="modo" class="escuro"></button>
    </header>
    <div id="area-secundaria">
        <div id="inf">
            <p id="p2"><Strong>Contacto: </Strong>922877317 <Span><Strong>Email:</Strong>esmaelvascoa5@gmail.com</Span>
            </p>
        </div>
    </div>
    <div id="area-principal">
        <form action="/coment/delete" method="POST">
            <label title="upgrade" style="padding: 168px;"> Deletar comentário</label><br><br>
            <label for="name">Comentar</label><br>
            <input type="text" name="coment"><br>
            <input class="buttom" style="width: 100%;" type="submit" value="Deletar">
        </form>

    </div>
    <footer>
        <div id="centro-footer">
            <p class="p1">Todos os direitos reservados</p>
            <p class="p1">Criado por: Esmael Andrade</p>
            <p class="p1">Email: esmaelvascoa5@gmail.com</p>
        </div>
    </footer>
</body>
</html>