<!DOCTYPE html>
<html modo="claro">
<head lang="pt-pt">
    <meta charset="utf-8">
    <title>Lei dos gases</title>
    <link rel="stylesheet" type="text/css" href="/css/links1.css">
    <link rel="stylesheet" href="/css/link2.css">
    <script defer src="/js/script.js"></script>
</head>
<body>
    <header>
        <div id="menu">
            <h1 id="logo" class="Amarelo">E.Andrade</h1>
            <a class="nav-link" href="login">Login</a>
            <a class="nav-link" href="cadastro">Cadastro</a>
            <a class="nav-link" href="/">Home</a>
        </div>
        <button id="modo" class="escuro"></button>
    </header>
    <div id="area-secundaria">
        <div id="inf">
            <p id="p2"><Strong>Contacto: </Strong>922877317 <Span><Strong>Email:</Strong>esmaelvascoa5@gmail.com</Span>
            </p>
        </div>
    </div>

    <div id="area-principal">
        <div id="item1">
            <img class="img-item1" src="/img/3.png">
            <img class="img-item1" src="/img/2.png">
        </div>
        <h1 id="h1">Lei dos gases</h1>
        <img id="img-front" src="/img/1.png">
        <p>As Leis dos Gases foram criadas por físico-químicos entre os séculos XVII e XIX. As três leis dos gases são
            denominadas:</p><br>
        <ul>
            <li><a class="Amarelo" href="leideboyle">Lei de Boyle</a></li>
            <li><a class="Amarelo" href="leidegaylussac">Lei de Gay-Lussac</a></li>
            <li><a class="Amarelo" href="leidecharles">Lei de Charles </a></li>
        </ul>
        <br>
        <p>Cada uma delas contribuiu para os estudos sobre os gases e suas propriedades, que são: volume, pressão e
            temperatura.</p><br>
        <p>Os gases são fluidos que não possuem própria forma, nem volume próprio, ou seja, a forma e o volume dos gases
            dependem do recipiente no qual se encontram. Isso ocorre porque as moléculas dos gases, diferente dos
            sólidos, estão separadas umas das outras.</p><br>
        <p>É Importante realçar que as três leis dos gases expõem a maneira que os gases perfeitos se comportam, na
            medida que uma das grandezas, seja pressão, temperatura ou volume, sejam constantes, enquanto outras duas
            são variáveis.</p><br>
        <a class="nav-link" href="comentario">comentar</a>
        <a class="nav-link" href="pergunta">Perguntar</a>
    </div>
    <footer>
        <div id="centro-footer">
            <p class="p1">Todos os direitos reservados</p>
            <p class="p1">Criado por: Esmael Andrade</p>
            <p class="p1">Email: esmaelvascoa5@gmail.com</p>
        </div>
    </footer>
</body>

</html>