<!DOCTYPE html>
<html modo="claro">
<head lang="pt-pt">
    <meta charset="utf-8">
	<title>Lei dos gases</title>
    <link rel="stylesheet" type="text/css" href="/css/link2.css">
    <script defer src="/js/script.js"></script>
</head>
<body>
    <header>
        <div id="menu">
            <h1 id="logo" class="Amarelo" >E.Andrade</h1>
            <a class="nav-link" href="/">Home</a>
        </div>
        <button id="modo" class="escuro"></button>
    </header>
    <div id="area-principal">
        <h1>Lei de Charles</h1><br>

        <p>Nas leis anteriores, mantivemos a temperatura do gás constante e depois a sua pressão. Agora manteremos o volume constante e analisaremos os resultados desse processo.<br><br>Considere novamente o recipiente de tampa móvel. Dessa vez travaremos a tampa, pois assim deixaremos o volume do gás constante. Após isso iniciaremos o seu aquecimento, como ilustra a figura abaixo.</p></p><br>
            <img class="imge" src="/img/Picture5.jpg"><br><br>
            <p>Ao ser aquecido, o gás irá tentar se expandir, mas isso é algo que não ocorre pois a tampa está travada. O resultado será o aumento da pressão do gás sobre as paredes do recipiente.</p><br>
            <img class="imge" src="/img/Picture6.jpg"><br><br>
            <p>A lei de Charles descreve este procedimento, ou seja, em uma transformação isométrica (volume constante), a pressão e a temperatura serão grandezas diretamente proporcionais. A lei de Charles é expressa da seguinte forma:</p><br>

            <img src="/img/j.png"><br><br>

            <p>Dessa forma, se esse gás estava, inicialmente, a uma temperatura  T1 e exercicia uma pressão P1, sobre as paredes do recipiente e, depois de passar por uma transformação isocórica, passou a exercer  uma pressão P2 em uma temperatura T2, podemos escrever que:</p><br>

            <img src="/img/i.png"><br><br>

            <p>Onde:<br><br>P<sub>1</sub>: pressão inicial (N/m2)<br>T<sub>1</sub>: temperatura inicial (ºC)<br>P<sub>2</sub>: pressão final (N/m2)<br> T<sub>2</sub>: temperatura final (ºC)</p><br><br>

    </div>
    <footer>
        <div id="centro-footer">
            <p class="p1">Todos os direitos reservados</p>
            <p class="p1">Criado por: Esmael Andrade</p>
            <p class="p1">Email: esmaelvascoa5@gmail.com</p>
        </div>
    </footer>

</body>
</html>