<!DOCTYPE html>
<html modo="claro">
<head lang="pt-pt">
    <meta charset="utf-8">
	<title>Lei dos gases</title>
    <link rel="stylesheet" type="text/css" href="/css/link2.css">
    <script defer src="/js/script.js"></script>
</head>
<body>

    <header>
        <div id="menu">
            <h1 id="logo" class="Amarelo" >E.Andrade</h1>
            <a class="nav-link" href="/">Home</a>
        </div>
        <button id="modo" class="escuro"></button>
    </header>

    <div id="area-principal">
        <h1>Lei dos de Gay-Lussac</h1><br>

        <p>A lei de Gay-Lussac nos mostra o comportamento de um gás quando é mantida a sua pressão constante (transformação isobárica) e variam-se as outras duas grandezas: temperatura e volume. Para entendê-la, considere novamente um gás em um recipiente de tampa móvel. Dessa vez, aqueceremos o gás e deixaremos a tampa livre, como mostra a figura a seguir:</p></p><br>
            <img class="imge" src="/img/Picture3.jpg"><br><br>
            <p>Feito isso, veremos uma expansão do gás junto com o aumento de temperatura. O resultado será uma elevação da tampa e, consequentemente, um aumento de volume. Observe que a pressão sobre a tampa (nesse caso a pressão atmosférica) se mantém constante.</p><br>
            <img class="imge" src="/img/Picture4.jpg"><br><br>
            <p>A lei de Gay-Lussac diz que em uma transformação isobárica (pressão constante), temperatura e volume são grandezas diretamente proporcionais. Essa lei é expressa da seguinte forma:</p><br>

            <img src="/img/c.png"><br><br>

            <p>Ou:</p><br>

            <img src="/img/d.png"><br><br>

            <p>Desse modo, se um g´s estava, inicialmente, numa temperatura T1 e ocupava um volume V1 e, após passar por uma trasformação à pressão constante, passou a ocupar um volume V2 numa temperatura T2, podemos escrever que: </p><br>

            <img src="/img/e.png"><br><br>

            <p>Onde:<br><br>T<sub>1</sub>: temperatura inicial (ºC)<br>V<sub>1</sub>: volume inicial (m3)<br>T<sub>2</sub>: temperatura final (ºc)<br> V<sub>2</sub>: volume final (m3)</p><br><br>

        
    </div>

    <footer>
        <div id="centro-footer">
            <p class="p1">Todos os direitos reservados</p>
            <p class="p1">Criado por: Esmael Andrade</p>
            <p class="p1">Email: esmaelvascoa5@gmail.com</p>
        </div>
    </footer>



</body>
</html>