<!DOCTYPE html>
<html modo="claro">
<head lang="pt-pt">
    <meta charset="utf-8">
	<title>Lei dos gases</title>
    <link rel="stylesheet" href="/css/link2.css">

    <script defer src="/js/script.js"></script>
</head>
<body>

    <header>
        <div id="menu">
            <h1 id="logo" class="Amarelo" >E.Andrade</h1>
            <a class="nav-link" href="/">Home</a>
        </div>
        <button id="modo" class="escuro"></button>
    </header>

    <div id="area-principal">

        <h1>Lei de Boyle</h1><br>

        <p>A Lei de Boyle-Mariotte foi criada pelo químico e físico irlandês Robert Boyle (1627-1691) e pelo francês Edme Mariotte (1620-1684).<br><br>
            Ela apresenta a transformação isotérmica dos gases ideais, de modo que a temperatura permanece constante, enquanto a pressão e o volume do gás são inversamente proporcionais.<br><br>
            Considere um recipiente com tampa móvel que contem certa quantidade de gás.</p></p><br>
            <img class="imge" src="/img/Picture1.jpg"><br><br>
            <p>Aplica-se lentamente uma força sobre essa tampa, pois desse modo não alteraremos a temperatura do gás.</p><br>
            <img class="imge" src="/img/Picture2.jpg"><br><br>
            <p>Observaremos um aumento de pressão e uma diminuição do volume do gás, ou seja, quando a temperatura do gás é mantida constante, pressão e volume são grandezas inversamente proporcionais.<br><br>
                Assim, a equação que expressa a lei de Boyle é:</p><br>

            <img src="/img/g.png"><br><br>

            <p>Ou:</p><br>

            <img src="/img/f.png"><br><br>

            <p>Então, se um determinado gás ideal tinha, inicialmente, ima pressão P1 e um volume V1 e depois, passa por uma  transformação isotérmica, terminando co uma pressão P2 e um volume V2,  pode se dizer que:</p><br>

            <img src="/img/h.png"><br><br>

            <p>Onde:<br><br>P<sub>1</sub>: pressão inicial (N/m2)<br>V<sub>1</sub>: volume inicial (m3)<br>P<sub>2</sub>: pressão final (N/m2)<br> V<sub>2</sub>: volume final (m3)</p><br><br>

        
    </div>

    <footer>
        <div id="centro-footer">
            <p class="p1">Todos os direitos reservados</p>
            <p class="p1">Criado por: Esmael Andrade</p>
            <p class="p1">Email: esmaelvascoa5@gmail.com</p>
        </div>
    </footer>



</body>
</html>